# ----------------------------------------
# Global Node.js
# ----------------------------------------
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
.log/

# OS files
.DS_Store
Thumbs.db


# ========================================
# CONTRACTS (Hardhat 3) 
# ========================================
# Build outputs
Contract/artifacts
Contract/cache
Contract/types
Contract/coverage
Contract/dist
Contract/bundle

# Node modules inside Contract
Contract/node_modules

# Ignition deployment cache
Contract/ignition/deployments


# ========================================
# BACKEND
# ========================================
Backend/node_modules
Backend/dist
Backend/*.log

# Local database / temp files
Backend/tmp/
Backend/cache/
Backend/data/


# ========================================
# FRONTEND
# ========================================
Frontend/node_modules
Frontend/dist
Frontend/.cache
Frontend/build
Frontend/.vite
Frontend/.next
Frontend/out

# Ignore frontend env
Frontend/.env


# ========================================
# Misc
# ========================================
*.tsbuildinfo
*.swp
*.swo
